// HOMEPAGE:
.homepage{
    .hero-banner{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 500px;
        display: flex;
        @include mq-below(lg){
            min-height: 537px;
        }
        > .container{
            margin: auto;
            @include mq-below(lg){
                margin-top: 0px;
                margin-bottom: 0px;
                padding-top: 90px;
            }
        }
        .caption{
            font-family: $font_default;
            font-size: 80px;
            line-height: 1.2em;
            font-weight: 700;
            @include mq-below(lg){
                font-size: 50px;
            }
            @include mq-below(md){
                font-size: 40px;
            }
            @media (max-width: 374px){
                font-size: 28px;
            }
        }
        &.dark{
            .caption{
                color: #fff;
            }
        }
    }
    .hero-banner-slider{
        .swiper-pagination{
            bottom: 100px;
            @include mq-below(lg){
                bottom: 45%;
            }
            @media (max-width: 374px){
                bottom: 50%;
            }
        }
        .swiper-pagination-bullet{
            opacity: 1;
            background-color: transparent;
            border: 1px solid #fff;
            width: 10px;
            height: 10px;
            margin: 0px 5px !important;
            transition: background-color 0.3s;
            box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.3)
        }
        .swiper-pagination-bullet:hover{
            background-color: rgba(255,255,255,0.3);
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: #fff;
        }
    }
    .check-schedule{
        background: #fff;
        margin-bottom: 16px;
        box-shadow: 0px 15px 20px -10px #e1e6ef;
        border-radius: 8px;
        padding: 40px;
        transform: translateY(-50%);
        position: relative;
        z-index: 2;
        @media (max-width: 1299px) and (min-width: 992px){
            transform: translateY(-80px);
        }
        @include mq-below(lg){
            margin-bottom: -22%;
        }
        @include mq-below(md){
            padding: 24px 16px;
        }
        .fields{
            @include mq-below(lg){
                margin-left: 0px;
                margin-right: 0px;
            }
            > div{
                padding-top: 4px;
                padding-bottom: 4px;
                @media (max-width: 1299px){
                    &.col-12{
                        width: 100%;
                    }
                    &.col-6{
                        width: 50%;
                    }
                    border-bottom: 1px solid $color_line;
                    padding-bottom: 24px;
                    margin-bottom: 24px;
                    .field-wrap{
                        flex-grow: 1;
                        .dropdown-toggle{
                            width: 100%;
                            text-align: left;
                        }
                    }
                    &.col-6{
                        border-right: 1px solid $color_line;
                    }
                }
                @include mq-below(lg){
                    padding-left: 0px;
                    padding-right: 0px;
                }
                @media (max-width: 425px){
                    .field-wrap{
                        .dropdown-toggle{
                            font-size: 12px;
                        }
                    }
                }
                @media (max-width: 374px){
                    &.col-6{
                        width: 100%;
                        &:after{
                            border-right: 0px !important;
                        }
                    }
                }
            }
            > div:not(:last-child){
                border-right: 1px solid $color_line;
                @media (max-width: 1299px){
                    border-right: 0px;
                }
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            /* Firefox */
            input[type=number] {
                -moz-appearance: textfield;
            }
            input[type="number"] {
                width: 40px;
                appearance: none;
                border: 0px;
                box-shadow: none;
                text-align: center;
                &:focus, &:hover, &:focus-visible{
                    outline: none;
                    box-shadow: none;
                }
            }
            .qty-proxy{
                min-width: 80px;
                text-align: center;
            }
            .qty-placeholder, .qty-proxy, input[type="number"]::-webkit-input-placeholder, input[type="number"]::placeholder{
                color: $color_h3;
                font-size: 14px;
                font-weight: 400;
                @media (max-width: 425px){
                    font-size: 12px;
                }
            }
            .dropdown-menu.calendar{
                width: 296px;
                padding: 10px;
                .litepicker .container__months{
                    box-shadow: none;
                }
            }
        }
        h4{
            padding-top: 2px;
            margin-bottom: 16px;
            @include mq-below(lg){
                margin-bottom: 4px;
            }
            @media (max-width: 425px){
                font-size: 14px;
            }
        }
        .icon-wrap{
            margin-right: 12px;
            @include mq-below(sm){
                margin-right: 8px;
            }
            div[class*="i-"]{
                border-radius: 50%;
                display: flex;
                width: 32px;
                height: 32px;
                background: $color_primary_100;
                justify-content: center;
                text-align: center;
                align-items: center;
                @media (max-width: 425px){
                    width: 28px;
                    height: 28px;
                }
            }
        }
        .qty-wrap{
            margin-left: -24px;
        }
        @media (max-width: 1299px){
            .sep-r{
                padding-right: 16px !important;
                position: relative;
                &:after{
                    content: " ";
                    display: block;
                    height: 38px;
                    width: 1px;
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-right: 1px solid $color_line !important;
                    margin-top: -8px;
                }
            }
            .sep-l{
                padding-left: 16px !important;
            }
            .btn-wrapper{
                flex: 0 0 100%;
            }
            .field-btn-wrap{
                flex-wrap: wrap;
            }
        }
        @media (max-width: 425px){
            .sep-r{
                padding-right: 8px !important;
            }
            .sep-l{
                padding-left: 8px !important;
            }
        }
    }
    .featured{
        padding-bottom: 40px;
    }
    .swiper-nav{
        .swiper-button-disabled{
            opacity: 0.6;
            cursor: default;
        }
    }
    .grid-slider{
        position: relative;
        .swiper-slide{
            width: 400px;
            @include mq-below(lg){
                width: 364px;
            }
        }
        &:not(.swiper-initialized){
            .swiper-slide{
                margin-right: 24px;
            }
        }
    }
    .room{
        border-radius: 8px;
        overflow: hidden;
        .thumbnail{
            background-color: #efefef;
            a{
                opacity: 1;
                transition: opacity 0.3s;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
        .info{
            padding: 26px 40px;
            background-color: #fff;
            h3{
                color: $color_h1_h2_bg;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 0px;
                a{
                    color: $color_h1_h2_bg;
                    &:hover{
                        color: $color_primary_pressed;
                    }
                }
            }
            .info-list{
                @include clearlist();
                padding-top: 8px;
                li{
                    margin-bottom: 24px;
                    position: relative;
                    padding-left: 45px;
                    .icon{
                        position: absolute;
                        left: 0px;
                        top: 0px;
                    }
                    span{
                        font-size: 16px;
                        color: $color_h3;
                        line-height: 1.5em;
                        display: inline-block;
                        strong{
                            font-weight: 500;
                        }
                        &.sep{
                            margin-right: 16px;
                            padding-right: 16px;
                            border-right: 1px solid $color_line;
                        }
                    }
                }
            }
        }
        .cta{
            background: #fff;
            padding: 0px 40px 26px;
            transform: scale(1,0.5) translateY(-80%);
            transform-origin: top;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: opacity 0.3s, transform 0.3s;
            z-index: 1;
            position: relative;
            @include mq-below(lg){
                transform: scale(1,1) translateY(0%);
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }
        }
        &:hover{
            .cta{
                transform: scale(1,1) translateY(0%);
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }
        }
    }
}
.full-w-banner{
    .banner{
        background-color: #0D0D16;
        background-image: url('../images/menu-banner-desktop.webp');
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;
        color: #fff;
        margin-bottom: 40px;
        min-height: 560px;
        @media (max-width: 1300px){
            background-position: center;
        }
        @include mq-below(lg){
            padding-top: 80px;
            min-height: 640px;
            background-image: url('../images/menu-banner-mobile.webp');
            background-size: cover;
            background-position: bottom center;
            background-repeat: no-repeat;
        }
        @media (max-width: 991px) and (min-width: 560px){
            background-size: contain;
        }
        h2{
            color: #fff;
            font-size: 56px;
            font-weight: 600;
            line-height: 1.2em;
            @include mq-below(lg){
                font-size: 40px;
            }
            small{
                font-size: 18px;
                font-weight: 500;
                color: #fff;
                text-transform: uppercase;
                @include mq-below(lg){
                    font-size: 18px;
                }
            }
        }
    }
}
.gallery{
    padding: 40px 0px;
    h2{
        margin-bottom: 82px !important;
    }
    .col-6.mb-4{
        margin-bottom: 24px;
        &:nth-child(even){
            position: relative;
            top: -32px;
        }
    }
    a{
        img{
            transition: opacity 0.3s;
        }
        &:hover{
            img{
                opacity: 0.8;
            }
        }
    }
}